.course {
    .ant-tabs {
        .ant-collapse {
            .ant-collapse-content-box{
                &::before {
                    content: '';
                    display: table;
                }
                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
                .ant-card {
                    font-size: 12px;
                    float: left;
                    margin: 5px;
                    .ant-card-actions {
                        > li {
                            width: 33% !important;
                        }
                    }
                    .ant-switch-small {
                        margin-left: 5px;
                        margin-top: -2px;
                    }
                }
                .ant-btn {
                    float: left;
                    margin: 5px;
                    color: #000000;
                    width: 100px;
                    font-size: 12px;
                }
            }
            
            
        }
        
    }
    
}
.ant-drawer {
    .plink {
        display: block;
    }
}
.ant-tooltip {
    font-size: 12px;
}